/* APSA Staging Website CSS */


/* Universal Settings */ 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
}


/* Header Background General Settings */

.background {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: white;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(28, 48, 121); /*rgb(60, 86, 166)*/
  z-index: 10;
}

.container {
  max-width: 85%;
  margin: auto;
  height: 150px;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header .container .menu {
  display: flex;
  flex-direction: row;
}

.header .menu .head {  /* Mobile Header */
  display: none;
}

.header .menu a {  /* Header text defaults */
  display: block;
  text-decoration: none;
  color: white;
  line-height: 1.5;
}


/* APSA Logo Settings */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
.logo > p {
  color: white;
  font-family: "Bookman Old Style", Georgia, serif;
}

.APSA {
  font-size: 84px;
  letter-spacing: -8px;
  line-height: 0.9;
}

.APSA_text {
  font-size: 20px;
  text-align: center;
}
*/

.logo-picture {
  vertical-align: middle;
  height: 130px;
}


/* Ribbon Settings */

.header .menu .ribbon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.header .menu .ribbon-container .ribbon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .menu nav ul {
  list-style: none;
}

.header .menu .ribbon-container > nav > ul > li {
  padding: 12px 0;
}


/* Upper Ribbon Settings */

.upper-ribbon li {
  margin-right: 10px;
}

.upper-ribbon li > a {
  font-size: 15px;
  padding: 4px 10px;
  background-color: rgb(166, 139, 59);
  border-radius: 6px;
}

.upper-ribbon li > a:hover {
  background-color: rgb(116, 93, 24);
  transition: background-color 0.2s;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.media-logos {
  width: 20px;
}

/*.media-logos:hover {
  filter: drop-shadow(0 0 5px yellow);
}*/

.upper-ribbon .social-media-icons a {
  display: flex;
}

.upper-ribbon .social-media-icons > a:not(:last-child) {
  margin-right: 12px;
}


/* Lower Ribbon and Dropdown Menu Settings */

.header .menu > nav > ul > li {
  display: inline-block;
}

.lower-ribbon > li > a {
  font-size: 16px;
}

.lower-ribbon > li:not(:last-child) {
  margin-right: 25px;
}

.dropdown {
  position: relative;
}

.header .menu .ribbon-container > nav > ul > .dropdown > a {
  padding-right: 15px;
}

.header .menu i {
  font-size: 10px;
  pointer-events: none;
  user-select: none;
  position: absolute;
  color: white;
  top: calc(50% - 5px);
}

.header .menu .ribbon-container > nav > ul > li > i {
  right: 0;
}

.header .menu .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(4, 10, 63);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
  transform-origin: top;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
}

.header .menu .sub-menu a {
  padding: 8px 16px;
  white-space: nowrap;
}

.header .menu .lower-ribbon li:hover > .sub-menu {
  opacity: 1;
  transform: none;
  visibility: visible;
  transition: all 0.3s ease;
}

.header .menu .lower-ribbon .sub-menu span {
  background-image: linear-gradient(white, white);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 3px;
  transition: background-size 0.3s ease;
}

.header .menu .lower-ribbon .sub-menu li:hover {
  background-color: rgb(28, 48, 121);
  transition: background-color 0.3s;
}

.header .menu .lower-ribbon .sub-menu li:hover > a > span {
  background-size: 100% 1px;
}